<html>

<head>
    <title>EMPRESU</title>
    <% include ../partes/imports%>

</head>

<body>
    <% include ../partes/header %>
        
        <h5>  Bienvenido a tu perfil <%= user.nombre%></h5>

</body>

</html>